{% extends "base.html.twig" %}

{% block body %}
    {% if session.erreur is not null %}
        <div class="alert alert-danger" role="alert">
            {{ session.erreur}}
        </div>
    {% endif %}
    <h1 class="text-center mt-3"> Bienvenue sur le blog, spécialiste d'Harry Potter !</h1>

    <div class="container  mt-3">
      <div class="row align-items-start">
        <div class="col-12 col-sm-4">
          <img src="../img/profil_juliette.jpg" width="200px" height="200px" class="img-fluid rounded mx-auto d-block " alt="Responsive image">
        </div>
        <div class="col-12 col-sm-8">
          <h2>Juliette Christain</h2>
          <a class="my-text-primary p-1" href="https://www.instagram.com/jouliiette/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="my-text-primary p-1" href="https://www.instagram.com/jouliiette/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="my-text-primary p-1"  href="https://www.facebook.com/Juliette.Ck" target="_blank"><i class="fab fa-facebook"></i></a>
          <a class="my-text-primary p-1"  href="https://github.com/Juchri/P5_19112021" target="_blank"><i class="fab fa-github"></i></a>
          <p class="mt-3">Spécialiste d'Harry Potter depuis ma tendre enfance, j'ai décidé de creér ce blog pour pouvoir partager cette passion, non reconnue dans les études supérieures malheureusement, et pouvoir partager nos ressentis, nos déceptions, ou au contraire nos jolies concernant l'univers Harry Potter. Ici, vous êtes accepté comme vous êtes. Vous pouvez donc nous parler de tout, nous ne vous rejeterons pas ! Nous appliquons la devise de Dumbeldore : "Ce ne sont pas vos ressemblances qui comptent Harry, ce sont vos différences." </p>
          <a class="my-text-primary"  href="../content/CV_Christain_Juliette[1265].pdf" download>Téléchargez mon CV !</a> <br/>
        </div>
      </div>

      <h5 class="mt-4">N'hésitez pas à nous contacter !</h5>

      <form method="post">

        <div class="form-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-12 col-sm-6 mb-3">
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
          </div>
          <label for="message">Message</label>
          <textarea rows="7" type="text" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Valider</button>
    </form>
  </div>
{% endblock %}