{% extends "base.html.twig" %}

{% block body %}
    <h2>Ajouter un nouvel article</h2>
    <form method="post">
        <div class="form-group">
            <label>Titre :</label>
            <input type="text" name="title" class="form-control"/>
        </div>
         <div class="form-group">
            <label>Introduction :</label>
            <textarea class="form-control" name="hat"></textarea>
        </div>
        <div class="form-group">
            <label>Contenu :</label>
            <textarea class="form-control" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-2" name="supprimer">Ajouter</button>
    </form>
{% endblock %}