{% extends "base.html.twig" %}

{% block body %}
    <h2>Éditer un article</h2>
    <form method="post">
        <div class="form-group">
            <label>Titre :</label>
            <input type="text" name="title" class="form-control" value="{{post.title}}"/>
        </div>
         <div class="form-group">
            <label>Introduction :</label>
            <textarea class="form-control" name="hat" value="{{post.hat}}"></textarea>
        </div>
        <div class="form-group">
            <label>Contenu :</label>
            <textarea class="form-control" name="content" value="{{post.content}}"></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-2" name="supprimer">Mettre à jour</button>
    </form>
{% endblock %}